{% load static %}

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>Amadeus Hotels</title>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'map/style.css' %}">
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>
  </head>
  <body id="markers-on-the-map">
    <div class="page-header">
        <h2>Find the perfect hotel for your journey!</h2>
        <p>Explore cool attractions, restaurants and safety information around!</p>
    </div>
    <p>Click on a hotel to see the information</p>
    <div id="map"></div>
    <script>
      function addMarkerToGroup(group, coordinate, html) {
          var customIcon = new H.map.Icon("{% static 'icons/hotel.svg' %}", {
              size: {
                  w: 32,
                  h: 32
              }
          });
          var marker = new H.map.Marker(coordinate, {
              icon: customIcon
          });
          // add custom data to the marker
          marker.setData(html);
          group.addObject(marker);
      }

      function addInfoBubble(map) {
          var group = new H.map.Group();

          map.addObject(group);

          group.addEventListener('tap', function(evt) {
              var bubble = new H.ui.InfoBubble(evt.target.getGeometry(), {
                  content: evt.target.getData()
              });
              ui.addBubble(bubble);
              addPOIMarker(map, hotel_lat, hotel_lng);
          }, false);

          var hotels = JSON.parse("{{ hotels|escapejs }}");
          var i;
          for (i = 0; i < hotels.length; i++) {
              hotel_name = hotels[i]['name'];
              hotel_lat = hotels[i]['latitude'];
              hotel_lng = hotels[i]['longitude'];
              hotel_address = hotels[i]['address'];
              safety = hotels[i]['safety'];
              addMarkerToGroup(group, {
                      lat: hotel_lat,
                      lng: hotel_lng
                  },
                  '<div style="color:blue;">' + hotel_name + '</div>' + '<div>' + safety + '</div>'
              );
          }
      }

      function addPOIMarker(map) {
          $(document).ready(function() {
              $.ajax({
                  method: 'POST',
                  url: "{% url 'search_pois'%}",
                  data: {
                      'lat': hotel_lat,
                      'lng': hotel_lng
                  },
                  success: function(data) {
                      var pois = JSON.parse(data);
                      var i;
                      for (i = 0; i < pois.length; i++) {
                          poi_name = pois[i]['name'];
                          poi_lat = pois[i]['lat'];
                          poi_lng = pois[i]['lng'];
                          poi_category = pois[i]['category'];
                          console.log(poi_category);
                          if (poi_category == 'NIGHTLIFE') {
                              var customIcon = new H.map.Icon("{% static 'icons/nightlife.svg' %}", {
                                  size: {
                                      w: 32,
                                      h: 32
                                  }
                              });
                          } else if (poi_category == 'SIGHTS') {
                              var customIcon = new H.map.Icon("{% static 'icons/sights.svg' %}", {
                                  size: {
                                      w: 32,
                                      h: 32
                                  }
                              });
                          } else if (poi_category == 'RESTAURANT') {
                              var customIcon = new H.map.Icon("{% static 'icons/restaurants.svg' %}", {
                                  size: {
                                      w: 32,
                                      h: 32
                                  }
                              });
                          } else if (poi_category == 'SHOPPING') {
                              var customIcon = new H.map.Icon("{% static 'icons/shopping.svg' %}", {
                                  size: {
                                      w: 32,
                                      h: 32
                                  }
                              });
                          } else {
                              var customIcon = new H.map.Icon("{% static 'icons/shopping.svg' %}", {
                                  size: {
                                      w: 32,
                                      h: 32
                                  }
                              });
                          }
                          var poiMarker = new H.map.Marker({
                              lat: poi_lat,
                              lng: poi_lng
                          }, {
                              icon: customIcon
                          });
                          poiMarker.setData('<div>' + poi_name + '</div>');
                          poiMarker.addEventListener('tap', event => {
                              var poiBubble = new H.ui.InfoBubble(event.target.getGeometry(), {
                                  content: event.target.getData()
                              });
                              ui.addBubble(poiBubble)

                          }, false);
                          map.addObject(poiMarker);

                      }
                  },
                  error: function(data) {
                      console.log("Points of Interest - Error");
                  }
              });
          });

      }
      var platform = new H.service.Platform({
          'apikey': '{{here_api_key}}'
      });
      var defaultLayers = platform.createDefaultLayers();

      var map = new H.Map(document.getElementById('map'),
          defaultLayers.vector.normal.map, {
              center: {
                  lat: 41.3851,
                  lng: 2.1734
              },
              zoom: 13,
              pixelRatio: window.devicePixelRatio || 1
          });
      window.addEventListener('resize', () => map.getViewPort().resize());
      var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
      var ui = H.ui.UI.createDefault(map, defaultLayers);
      addInfoBubble(map);
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  </body>
</html>
